.page-footer {
	margin-top: 40px;
	text-align: center;
}

.page-footer .footer-copyright{
	color: #fff;
	font-size: 12px;
	padding-top:25px;
	padding-bottom: 25px;
	background-color: #09081e;
}

.page-footer .footer-copyright h6{
	color: #fff;
	margin: 0px;
	font-weight: bold;
	padding-bottom: 5px;
}

.page-footer .footer-menu {
	background-color: #ddd;
	font-size: 12px;
	padding-top:16px;
	padding-bottom:16px;
	color: #666;
}

.page-footer .footer-menu h5{
	color: #193889;
	font-size: 14px;
	font-weight: bold;
}

.page-footer .footer-menu a{
	text-decoration: none;
	color: #666;
	line-height: 2em;
}

.page-footer .footer-menu a:hover {
	color: #000;
}

.page-footer .footer-menu a:active {
	color: #333;
}

.page-footer .footer-menu ul {
	list-style: none;
	padding: 0px
}

.sub-title{
	margin: 15px 0;
	border-bottom: 1px solid blue;
	text-transform: uppercase;
}

.body{
	margin-top: 50px;
}

.right_box{
	background: rgba()
}