
.text-success {
	color: #58d32d !important;
}

/* Header Label */
.skin-red .main-header .navbar,
.skin-red .main-header .logo {
    background-color: #091022 !important;
}

/* Dropdown Menu Style */
.navbar-nav > .user-menu > .dropdown-menu > .user-footer { 
	padding: 0!important;
}
.dropdown-menu > li > a {
    line-height: 2em!important;
}

.dropdown-menu > li > a:hover {
    background-color: #1060eb!important;
}



/* Menu Icon */
.skin-red .main-header .navbar .sidebar-toggle:hover {
    background-color: #262f49 !important;
}

/* Left Bar */
.skin-red .main-sidebar {
	background: url(../images/quatius-logistics-header.jpg) no-repeat -960px center !important;
    background-attachment: fixed;
}

.skin-red .wrapper {
	background-color: rgba(9, 13, 24, 1) !important;
}

.skin-red .sidebar-menu > li.header {
    color: #fff !important;
	background-color: rgba(9, 13, 24, 0.45) !important;
}

.sidebar-menu li.header > h3 {
	color: #fff !important;
}

/* Search */
.skin-red .sidebar-form input[type="text"],
.skin-red .sidebar-form .btn {
	background-color: rgba(255, 255, 255, .1) !important;	
	color: #fff !important;
}

/* Avatar */
.user-panel > .image > img {
    border: 2px solid white;
}

.skin-red .sidebar-form input[type="text"]::-webkit-input-placeholder {
	font-style: italic !important;	
}

/* Content */
.content-wrapper {
	min-height: calc(100vh - 130px) !important;	
}

/* Footer */
.main-footer {
	background: #0f131d !important;
    color: #888 !important;
    border-top: none !important;
}