/** 
	1. Navigation
*/
#top-link .small-link{
	margin-top: 5px;	
}

.header-area a{
	color: #fff;
}
.header-area.stick a{
	color: #000;
}
#top-link h6.narrow{
	margin-top: -5px;
    margin-bottom: -5px;
}
.breadcrumb-area.about-us{
	background: rgba(0, 0, 0, 0) url("../images/about_banner.jpg") no-repeat scroll center center / cover ;/*rgba(0, 0, 0, 0) url('../images/about_banner.jpg') no-repeat;*/
	padding-top: 83px;
}
.breadcrumb-area.contact-us{
	background: url('../images/contact_banner.jpg') no-repeat;
	background-size: cover;	
}
.breadcrumb-area.service{
	background: url('../images/service_banner.jpg') no-repeat;
	background-size: cover;	
}
.breadcrumb-area.policy{
	background: url('../images/policy_banner.jpg') no-repeat;
	background-size: cover;
}

.home-contact-area{
	background: rgba(0, 0, 0, .5) url("../images/service_banner.jpg") no-repeat center center / cover;
    padding: 50px 0;
    text-align: center;
    color: #fff;
}
.home-3{
	padding: 50px 0;
}

button.navbar-toggle{
	background-color: #aaa;
}
button.navbar-toggle .icon-bar{
	background-color: #fff;
}


/* 2. Bottom */
.xs-padding-10{
	padding-top: 10px;
	padding-bottom: 10px;	
}

.navbar-brand{
	padding: 0px 10px !important;
	margin-bottom: 30px;
}
.mainmenu{
	margin-top: -20px;
}

.custom_badge{
	color: #2bcdc1;
    font-size: 100px;
    border: 2px solid #2bcdc1;   
    text-align: center;
    padding: 18px 28px;
    border-radius: 100%;
    
}
.features-area-1 {
	padding: 80px 0;
	color: #333;
}

.features-info-text h3 {
    color: #333; 
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}
.features-info-text p {
    color: #333; 
   margin: 0;
}
.single-counter h3 {
	margin-top: -25px;

}
.single-counter h2, .single-counter h5 {
	color: #fff;
}
.single-counter h2{
	font-size: 24px;
}
.contact-address-location{
	font-weight: bold;
	margin-left: -15px;
	margin-right: -15px
}
.control-level {
    padding: 10px 0;
}
.help-area {
    margin-bottom: 50px;
}
.form-booking{
	background: rgba(0,0,0,.5);
	color: #fff;
}
.radio label{
	padding-left: 0 !important;
}