/***************
 * UI Elements *
 ***************/
 a {
	color: #1060eb;
}

button.btn-primary {
	border-radius: 8px;
	background-color: #1060eb;
	padding: 0 45px; 
	line-height: 3em;
	font-size: 1.125em;
}
 
.alert button {
	border-radius: 2px !important;
	background-color: transparent !important;
	padding: 0 13px !important; 
	line-height: 1.5em !important;
	font-size: 1.125em !important;
}
 
 
/**********
 * Header *
 **********/ 
 
.header-area {
    border-top: none !important;
}


#top-link #login,
#top-link #portal {
 	display: none;
}
 
 
 /* Home Header */
.breadcrumb-area.home {
 	background: url(../images/quatius-logistics-header.jpg) no-repeat scroll center center / cover !important;
 	min-height: 100vh;
 	padding-top: 15% !important;
}


/* About Header */
/*.breadcrumb-area.about {
 	min-height: 227px;    
}*/

.breadcrumb-area.home h5,
.breadcrumb-area.home h2,
.breadcrumb-area.home h6 {
 	font-weight: bold;
 	color: #fff;
}

.breadcrumb-area.home h5 {
	position: relative;
 	font-size: 1.525em;
}

.breadcrumb-area.home h2 {
	position: relative;
 	font-size: 3.785em;
 	text-transform: uppercase;
 	margin-top: 30px;
}



.breadcrumb-area.home h6 {
	position: relative;
 	font-size: 1.525em;
 	margin-top: 36px;
}

.breadcrumb-area.home h2:after {
    content:"\A";
	width: 105px;
	height: 2px;
 	margin-top: 30px;
    display: block;
	
	background: rgba(234,30,40,1);
	background: -moz-linear-gradient(left, rgba(234,30,40,1) 0%, rgba(3,171,237,1) 33%, rgba(123,203,99,1) 68%, rgba(253,203,9,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(234,30,40,1)), color-stop(33%, rgba(3,171,237,1)), color-stop(68%, rgba(123,203,99,1)), color-stop(100%, rgba(253,203,9,1)));
	background: -webkit-linear-gradient(left, rgba(234,30,40,1) 0%, rgba(3,171,237,1) 33%, rgba(123,203,99,1) 68%, rgba(253,203,9,1) 100%);
	background: -o-linear-gradient(left, rgba(234,30,40,1) 0%, rgba(3,171,237,1) 33%, rgba(123,203,99,1) 68%, rgba(253,203,9,1) 100%);
	background: -ms-linear-gradient(left, rgba(234,30,40,1) 0%, rgba(3,171,237,1) 33%, rgba(123,203,99,1) 68%, rgba(253,203,9,1) 100%);
	background: linear-gradient(to right, rgba(234,30,40,1) 0%, rgba(3,171,237,1) 33%, rgba(123,203,99,1) 68%, rgba(253,203,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea1e28', endColorstr='#fdcb09', GradientType=1 );
}





 
 
 
 
 
 
 
/**********
 * Menu *
 **********/
.header-area {
	/*padding-top: 32px;*/
}

.header-area.stick {
	/*background: #090d18 !important; */
	background-color: rgba(9, 13, 24, 0.85) !important;
	transition: background-color 0.5s ease;
	border: none;
	
	display: none;
}

.header-area .navbar-brand {
	position: relative;
    top: 0;
}

.header-area.stick .navbar-brand {
	position: relative;
    top: -24px;
}

.panel-primary {
    border: none !important;
    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
    background-color: transparent !important;
}
.panel-primary > .panel-heading {
    background-color: #1060eb!important;
    margin-right: 15px;
    border: none !important; 
    padding: 15px 25px;
    pointer: cursor;
        
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
    display: none;
}

.panel-primary > .panel-heading a {
	color: #ffffff !important;
	text-transform: uppercase;
	font-style: italic;
	font-size: 1.25em;
}

.panel-primary > .panel-heading .fa {
	margin-right: 8px;
}

.mainmenu a {
	color: #fff !important;
	text-transform: uppercase !important;
	text-size: 1.667em !important;
	font-weight: bold !important;	
}

.mainmenu ul#nav> li> a:before { 
	display: none;
} 
 
.mainmenu ul#nav >li:hover>a { 
	color: #ccc !important;
	background: transparent !important;
}


/* Mobile Menu */

.mobile-menu-area {
    background-color: #030a1d !important;
	transition: background-color 0.5s ease;
	border: none !important;
}

.mobile-menu-area .mobile-menu img {
	height: 130%;
}

.mobile-menu-area .mobile-menu button.navbar-toggle {
	background: transparent !important;
	padding: 0 !important;
	margin-top: 6px !important;	
	border-radius: 0 !important;
}

.navbar-toggle[aria-expanded="true"] .icon-bar {
	background: #bbb;
}

.navbar-toggle .icon-bar {
	width: 34px !important;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 7px !important;
}

.navbar-collapse  {
	background: #737784;
	padding: 0 !important;
}

.navbar-collapse ul.navbar-nav {
	margin: 0 !important;
}

.navbar-collapse ul li a.page-scroll {
	color: #fff !important;
}

.navbar-collapse ul li a.page-scroll:hover {
	background: #a9afc4;
}







 
 
 
 
 
 
 /**********
 * Services *
 **********/
.services { 		
 	background: url(../images/service-bg.jpg) no-repeat scroll bottom center ;
 	background-color: #161c2a;
	height: 1200px;
	text-align: center;
	padding: 35px 0;
	
	display: none;
}

.service-dev-area .row {
	margin: 30px -15px;
}

.services-box {	
	padding: 35px 0;
}

.services-box .freight,
.services-box .warehouse,
.services-box .consultation,
.services-box .b2b {	
 	background-color: #fff !important;
	background-size: 100% !important;
	padding: 178px 26px 10px 26px;
	color: #888;	
	min-height: 420px;
}

.services-box .freight {
 	background: url(../images/freight-management.jpg) no-repeat scroll top center / cover;
}

.services-box .warehouse {
 	background: url(../images/warehouse.jpg) no-repeat scroll top center / cover;
}

.services-box .consultation {
 	background: url(../images/consultation.jpg) no-repeat scroll top center / cover;
}

.services-box .b2b {
 	background: url(../images/b2b.jpg) no-repeat scroll top center / cover;
}

.services-box  h2 {
	font-size: 1.25em;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;	
}
 
.services-box  p {
	padding-top: 12px;
}

.readmore {
	background-color: #fff;
	padding: 0 26px 40px 26px;
}

.readmore  button {
	font-size: 1em !important;
	text-transform: uppercase;	
}









 
 
 
 
 
 
 
 /**********
 * Badges *
 **********/
 .about-intensy-area { 	
 	padding: 70px 0 !important;
 }
 .custom_badge {
 	color: #000 !important;
 	border-color: #000 !important;
 	padding: 0 !important;
 	
 }
 
 .features-icon i { 	
    position: relative;
    top: 8px;
    margin-bottom: 30px !important;
 }
 
 .features-info-text h4 {
 	color: #000;
 	font-size: 1.125em;
 	font-weight: bold;
 	margin-bottom: 50px;
 }
 
 .features-info-text p {
 	color: #777 !important;
 }
  
.fa-thumbs-up:before,
.fa-user-md:before,
.fa-shield:before {
	content: "" !important;
    width: 85px; 
    height: 85px; 
    display: inherit;
}
  
.fa-thumbs-up:before {
 	background: url('../images/leading-icon.png') no-repeat center / cover !important;
}
 
.fa-user-md:before {
 	background: url('../images/expert-icon.png') no-repeat center / cover !important;
}
 
.fa-shield:before {
 	background: url('../images/reliability-icon.png') no-repeat center / cover !important;
}




 
 
 
 
 
 
/**********
 * Contact Section *
 **********/
 .home-contact-area {
 	padding: 70px 0 !important;
 	background-image: linear-gradient(rgba(23, 28, 43, 0.9), rgba(23, 28, 43, 0.9)), url('../images/service_banner.jpg') !important;
 }
 
.home-contact-area > .container > .row > div > h6 {
 	text-transform: uppercase;
 	font-size: 1em;
}

.home-contact-area > .container > .row > div > h6 + h2 {
	font-size: 3em;
 	font-weight: bold;
    margin-top: 16px;
    margin-bottom: 40px;
}

.home-contact-area > .container > .row > div > h6 + h2 + h6 {
 	text-transform: none;
 	font-weight: bold;
 	font-size: 1.875em;
}

.home-contact-area > .container > .row > div > button {
 	margin-top: 44px;
}

.contact-form-ac > form .btn {
	line-height: 2.5em;
    font-size: 1em;
}









 
/**********
 * Feature Bottom *
 **********/
.feature-bottom {
 	padding: 70px 0;
}

.feature-bottom h2 {
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 50px;
}

.feature-bottom p {
	color: #777;
}

.feature-bottom img {
    position: relative;
    z-index: 1;
    
	display: none;
}










/**********
 * Client Block *
 **********/
.client-block {
	padding: 60px 0;
	background-color: #eee;
}

.owl-carousel--item {
    height: 62px;
}

.owl-carousel--item img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 62px;
    width: auto !important;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);  
}


.owl-stage-outer:before,
.owl-stage-outer:after {
   content: "";
    position: absolute;
    top: 0;
    width: 1rem;
    height: 100%;
    z-index: 9999;
}

.owl-stage-outer:before {
	left: 0;
    background-image: linear-gradient(to left, transparent, #EEE);
}

.owl-stage-outer:after {
	right: 0;
    background-image: linear-gradient(to right, transparent, #EEE);
}










 /**********
 * Login Page *
 **********/

.lockscreen {
 	background: url('../images/login-bg.jpg') no-repeat center / cover !important;	
}

.login-box .panel .hvr-sweep-to-right:before {
	border-radius: 20px;
}

.reset-box {	
    width: 360px;
    margin: 7% auto;
}

.login-page, .register-page {
	background: transparent;
}

.panel,
.login-box-body, 
.register-box-body{
	background: transparent;
	border: none;
}

.panel-logo {
	text-align: center;
}

.panel-logo a > img {	
    width: 100%;
    max-width: 296px;
}

.login-logo a > img {	
    width: 100%;
    max-width: 307px;
}

h3.login-box-msg  {
    margin: 70px 0 45px 0;
    color: #fff;
    font-size: 2.2em;
}

.admin h3.login-box-msg  {
    margin-top: 0;
    color: #fff;
    font-size: 1.5em;
}

h3.login-box-msg:after,
.admin h3.login-box-msg:after {
	content:"\A";
	width: 150px;
	height: 2px;
 	margin: 15px auto 0;
    display: block;
	
	background: rgba(234,30,40,1);
	background: -moz-linear-gradient(left, rgba(234,30,40,1) 0%, rgba(3,171,237,1) 33%, rgba(123,203,99,1) 68%, rgba(253,203,9,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(234,30,40,1)), color-stop(33%, rgba(3,171,237,1)), color-stop(68%, rgba(123,203,99,1)), color-stop(100%, rgba(253,203,9,1)));
	background: -webkit-linear-gradient(left, rgba(234,30,40,1) 0%, rgba(3,171,237,1) 33%, rgba(123,203,99,1) 68%, rgba(253,203,9,1) 100%);
	background: -o-linear-gradient(left, rgba(234,30,40,1) 0%, rgba(3,171,237,1) 33%, rgba(123,203,99,1) 68%, rgba(253,203,9,1) 100%);
	background: -ms-linear-gradient(left, rgba(234,30,40,1) 0%, rgba(3,171,237,1) 33%, rgba(123,203,99,1) 68%, rgba(253,203,9,1) 100%);
	background: linear-gradient(to right, rgba(234,30,40,1) 0%, rgba(3,171,237,1) 33%, rgba(123,203,99,1) 68%, rgba(253,203,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea1e28', endColorstr='#fdcb09', GradientType=1 );
}

.login-box  .form-group,
.reset-box  .form-group {	
    margin-bottom: 25px;
}

.reset-box .form-group label,
.reset-box .form-group.has-error label {
    display: none;
}

.login-box input.form-control,
.reset-box input.form-control {
	height: 42px;
	padding-left: 25px;
	color: #fff;
	border-radius: 20px;
  	background-color: rgba(255,255,255, 0.13) !important;
}

.login-box input.form-control:focus,
.reset-box input.form-control:focus {
    border: 1px solid #3d4b70 !important;
    outline: 0;
    box-shadow: none;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(25,56,140,.6);*/
}




/* input icon */

.login-box .form-control-feedback.fa,
.reset-box .form-control-feedback.fa {
	color: #666;
	line-height: 2.8em;
    margin-right: 10px;
}



/* input placeholder */

.login-box input.form-control::-webkit-input-placeholder,
.reset-box input.form-control::-webkit-input-placeholder {
	color: #ccc;
}

.login-box input.form-control::-moz-input-placeholder,
.reset-box input.form-control::-moz-input-placeholder {
	color: #ccc;
}

.login-box input.form-control::-ms-input-placeholder,
.reset-box input.form-control::-ms-input-placeholder {
	color: #ccc;
}



/* checkbox */

.login-box .custom-checkbox input[type="checkbox"] {
    display: none;
}

.login-box .custom-checkbox label {
    position: relative;
	color: #fff;
	left: 55px;
	margin-bottom: 25px;
}

/* Base styles for spans */
.login-box .custom-checkbox span::before,
.login-box .custom-checkbox span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.login-box .custom-checkbox span.checkbox::before {	
	left: -30px;
	width: 16px !important;
	height: 16px !important;
    background: rgb(255, 255, 255);
	border-radius: 3px;
    box-sizing: border-box;
	cursor: pointer;
}

.container .custom-checkbox span.checkbox:hover::before {
    color: #ccc;
}
.container .custom-checkbox span.checkbox::after {
      content: '\f00c';
      font-family: 'FontAwesome';
      left: -30px;
      text-align: center;
      color: transparent;
	  border-radius: 3px;
      width: 16px;
      transition: color .2s;
}
.container .custom-checkbox input[type="checkbox"]:checked + label span.checkbox::after {
    color: #fff;
	background: #1060eb ;
}

.login-box p.login-box-msg,
.reset-box p.login-box-msg {
	margin-top: 30px;
	padding-top: 26px;
	border-top: 1px solid #181e2d;
}

.login-box .login-box-msg a,
.reset-box .login-box-msg a {
	color: #717171 !important;
	font-weight: bold;
}

.login-box .login-box-msg a:hover,
.login-box .login-box-msg a:focus,
.reset-box .login-box-msg a:hover,
.reset-box .login-box-msg a:focus {
	color: #999 !important;
}



/* login button */
.login-box button.form-control[type="submit"],
.reset-box button.form-control[type="submit"] {    
	background-color: #1060eb !important;
    height: 42px;
    font-size: 1em !important;
    border-radius: 20px !important;
    text-transform: uppercase;
    line-height: 2.5em !important;
	outline:0;
}

.hvr-sweep-to-right:before,
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    /*border-radius: 20px !important;*/
}



/* Form Validation Stylesheet */

.alert-danger {
	border: none;
	border-radius: 10px;
}

.login-box .has-error .help-block:before,
.reset-box .has-error .help-block:before {
    content: '';
    position: absolute;
    top: 36px;
    right: 22px;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 11px solid #b52f35;
}


.login-box .has-error .help-block,
.reset-box .has-error .help-block {
	position: absolute;
    top: -51px;
    right: 0;
	font-size: .85em;
	color: #fff;
	background: #b52f35;
	padding: 10px 20px;
	border-radius: 20px;
	z-index: 2;

	-moz-animation: hideDialog .25s ease-out 8s forwards;
    /* Firefox */
    -webkit-animation: hideDialog .25s ease-out 8s forwards;
    /* Safari and Chrome */
    -o-animation: hideDialog .25s ease-out 8s forwards;
    /* Opera */
    animation: hideDialog .25s ease-out 8s forwards;
}

@keyframes hideDialog {
    0% {
        opacity: 1;
    }
	100% {
        opacity: 0;
    }
}
}
@-webkit-keyframes hideDialog {
    0% {
        opacity: 1;
    }
	100% {
        opacity: 0;
    }
}

.login-box .has-error input.form-control,
.reset-box .has-error input.form-control {
  	background-color: rgba(189,55,82, 0.2) !important;
}

.login-box.has-error input.form-control:focus,
.reset-box.has-error input.form-control:focus {
    border: 1px solid #5c222d !important;
    outline: 0;
    box-shadow: none;
}











 /**********
 * About Page *
 **********/
 
.counter-area {
 	background: #030a1d !important;
}

.about-intensy-area h4 {
	margin-bottom: 20px;
}

.about-intensy-area .col-md-4,
.about-intensy-area .col-sm-4 {
 	position: relative;
	margin: 20px 0;
	overflow: hidden;
}

.about-intensy-area .col-md-4 img,
.about-intensy-area .col-sm-4 img {	
    max-width: 100%;
    
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.about-intensy-area .col-md-4:hover img,
.about-intensy-area .col-sm-4:focus img  {	
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
      transform:scale(1.2);
}
 








 /**********
 * Services Page *
 **********/
 .breadcrumb-area.service  {
	background-position: center !important;
 }
 
 .service-dev-area.first {
	margin-top: 30px;
 
}

 .service-dev-area.last {
	margin-bottom: 30px;
 
}

 .service-dev-area {
	padding: 0 !important;
}

.service-dev-img {
 	position: relative;
	margin: 20px 0;
	overflow: hidden;
}

.service-dev-img img {	
    max-width: 100%;
    
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.service-dev-img:hover img,
.service-dev-img:focus img {	
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
      transform:scale(1.2);
}
 
.service-dev-text h2 {
	text-transform: uppercase;
	margin-bottom: 30px;
}

.service-dev-text p {
	color: #777;
}









/**********
 * Contact Page *
 **********/

.breadcrumb-title h1 {
	font-size: 2.5em !important;
}

.breadcrumb-area.contact-us {
	background-position: center center !important;
}

.breadcrumb-area.contact-us:before {	
  	/*content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  	background-color: rgba(3,10,29, 0.65);
	opacity: .6; */
}
.breadcrumb > li + li:before {
	color: #fff !important;
	
}

ul.breadcrumb li:first-child {
	margin-right: 20px;
}
ul.breadcrumb li {
    font-size: 1.083em !important;
	color: #fff !important;
	text-transform: none !important;
}

ul.breadcrumb li a {
	color: #fff !important;
}

.help-area {
	padding-top: 60px;
}

.help-area .mini-contact .features-info-text {	
    text-align: center;
}
 
.help-area .mini-contact .features-info-text h4 {
	margin-bottom: 30px;
}
 
.help-area .mini-contact .features-info-text > div {
	padding-left: 0;
	margin-bottom: 30px;
}

.help-area .contact-form-ac, 
.help-area .pull-right {
	margin-top: 80px;
}
 
.control-level p,
.contact-content ul li span.contact-text {
	color: #777 !important;
}

.form-control {
	background: #ededed !important;
	border: none !important;
}

.submit-button {
	text-align: center;
}

..submit-button  button {
	font-size: .95em !important;
	line-height: 2.5em !important;
}

.contact-accordion h3 a::after {
	background: rgba(9, 13, 24, 1) !important;
}

.contact-accordion .contact-content ul li {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.contact-accordion .contact-content {	
	padding-bottom: 10px !important;
}

.contact-accordion h3 {
	background: rgba(9, 13, 24, 1) !important;
}

.contact-accordion h3:hover {
	background: #0f1932 !important;
}

.contact-accordion h3 a::after {
	background: rgba(255, 255, 255, 1) !important;	
	color: rgba(9, 13, 24, 1) !important;
}

.contact-accordion a {
	color: rgba(255, 255, 255, 1) !important;		
}
 
 
 
 
 
 
 
 
 
 
 
/**********
 * Footer *
 **********/
 .page-footer {
 	margin-top: 0px !important;
 }
 
  .page-footer a {
 	color: #888 !important;
 }
 
 
 .page-footer a:hover {
 	color: #ccc !important;
 }
 
  .page-footer h5 {
  	font-size: 1.5em;
  	font-weight: bold;
 	text-transform: uppercase;
  	text-align: center;
 }
 
.page-footer .footer-copyright {
 	background-color: #0f131d !important;
    padding-top: 0!important;
    padding-bottom: 0!important;
 }
 
 .footer-copyright .footer-title,
 .footer-copyright .body {
 	padding-left: 20px; 
 }
 
 .footer-copyright .body {
 	margin-top: 25px;
 	font-size: 1.16em;
 	text-align: center;
 	color: #888;
 	margin-bottom: 40px;
 }
 
 .footer-copyright .body .tel {
 	font-size: 1.75em;
 	color: #fff;
 }
 
 .footer-copyright .copyright {
 	padding: 25px 0 10px 0;
 	font-size: 1em;
 	text-align: center;
 	color: #888;
 	border-top: 1px solid #22262f;
 	margin-top: 65px;
 }
 
 .footer-copyright .copyright a {
 	margin-right: 0;
 	display: block;
 }
 
 .footer-copyright img[title="Quatius Logistics"] {
 	margin: 60px auto;
 }
 
 
 
 
 
 
 
/*==================================================
=            Bootstrap Media Queries             =
==================================================*/ 
 
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .mobile-menu-area .container {
		padding: 0 ;
	}	
}





/* Extra Small Devices, Phones */ 

@media only screen and (min-width : 480px) {	
}





/* Small Devices, Tablets */

@media only screen and (min-width : 768px) {
	.breadcrumb-padding {
		padding-top: 30% !important;
	}
	
	.panel-primary > .panel-heading {
		display: block;
	}	
	
	.header-area {
	    display: block !important;
	}
	
	.mobile-menu-area {
	    display: none !important;
	}
	
	.header-area .container {
		width: 100% !important;
	}
	
	.header-area.stick {
		display: block !important;
	}
	
	.header-area .container .row .col-md-3 {
	    float: left;
    	width: 25%;
	}
	
	.services {	
		display: block;	
	}
	
	.services-box {
		position: relative;
	}	
	
	.services-box .freight, 
	.services-box .warehouse, 
	.services-box .consultation, 
	.services-box .b2b {
		padding-top: 220px;
		min-height: 428px;
	}
	
	.page-footer h5 {
		text-align: left;
	}
	
	.footer-copyright .body {
		text-align: left;
		margin-bottom: 0;
	}	
	
	.footer-copyright .copyright {
    	/*text-align: left;*/
	 }

	.page-footer .footer-copyright {
    	padding-top: 70px!important;
	 }
	 
	 .footer-copyright .copyright a {
	 	margin-right: 15px;
	 	display: inline-block;
	 }
	 
	 .help-area .mini-contact .features-info-text {	
	     text-align: left;
	 }
	 
	 .submit-button {
		text-align: right;
	}
}




 
/* Medium Devices, Wide Screens */
 
@media only screen and (min-width : 992px) {
	.breadcrumb-padding {
		padding-top: 10% !important;
	}
	
	.feature-bottom img {
   	    top: 190px;
	}
	
	.services {
		height: 520px;
	}
		
	.services-box {	
		padding: 0;
	
		position: absolute;
		 top: -145px;
		z-index: 1;
	}	
	
	.services-box .freight, 
	.services-box .warehouse, 
	.services-box .consultation, 
	.services-box .b2b {
		min-height: 520px;
	}
		
	.feature-bottom img {
   	    display: block;
	}
}






/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) {
	.feature-bottom img {
	    top: 115px;
	}
	
	.services {
		height: 460px;
	}
	
	.services-box .freight, 
	.services-box .warehouse, 
	.services-box .consultation, 
	.services-box .b2b {
		min-height: 460px;
	}
		
	
}
