.edit-component-area .indicate-publish {
  display: none;
}

.edit-component-area .indicate-publish[data-published="0"]{
    color: #aaa;
}

.edit-component-area .indicate-publish[data-published="1"]{
    color: #3ca7e5;
}

.edit-component-area .indicate-publish[data-published="2"]{
    color: #faebcc;
}

.edit-component-area [data-published="0"] .indicate-publish[data-published="0"],
.edit-component-area [data-published="1"] .indicate-publish[data-published="1"],
.edit-component-area
  [data-published="2"]
  .indicate-publish[data-published="2"] {
  display: inline-block;
}

.CodeMirror-scroll {
  height: auto;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;
}
.CodeMirror {
  height: auto !important;
  border: 1px solid #eee;
  font-size: 13px;
}

.edit-component-area .options{
  background-color: #eee;
  float: left;
  padding: 10px 16px 15px 16px;
  margin: -15px -15px 0px -15px;
  border-bottom: 1px dashed #000;
  display: none;
}

.edit-component-area.show-options .options{
  display: block;
}